<% if @registrations.empty? %>
  <p>You have not registered for any courses yet.</p>
<% else %>
  <%= render "registrations/timetable" %>
  <br>
  <br>
  <% @registrations.each do |registration| %>
    <h2><%= registration.course.title %></h2>
    <p><%= registration.course.description %></p>
    <p><%= registration.course.timeslot %></p>
    <%= link_to registration_path(registration), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this booking?" }, class: 'text-danger text-decoration-none' do %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
    <br>
    <br>
  <% end %>
<% end %>
