<h1>Courses</h1>

<div class="course-table" data-controller="toggle-classinfo">
  <% @courses.each do |course| %>
    <div class="course-card">
      <h2><%= course.title %></h2>
      <p><%= course.semester %></p>
      <p><%= course.teacher.name %></p>
      <p><strong>Credits: <%= course.credits %></strong></p>
      <%= button_to 'Register', course_registrations_path(course), method: :post, class:'btn register-btn' %>
      <button class="btn classinfo-btn" data-action="click->toggle-classinfo#toggle">Information</button>

      <div class="hidden-course-card d-none" >
        <h2><%= course.title %></h2>
        <p><%= course.description %></p>
        <p><%= course.semester %></p>
        <p><%= course.timeslot %></p>
        <p><%= course.teacher.name %></p>
        <p><strong>Credits: <%= course.credits %></strong></p>
        <%= button_to 'Register', course_registrations_path(course), method: :post, class:'btn register-btn' %>
      </div>
    </div>
  <% end %>
</div>
